<div class="container">
    <% @requests.each do |request| %>
        <%= request.status %>
        <%= simple_form_for (request) do |f| %>
            <%= f.button :submit %>
        <% end %>
    <% end %>
</div>