<div class="container">
    <% @products.each do |product| %>
        <%= link_to product.name, product_path(product) %>
        <br>
        <%= product.description %>
        <br>
        <%= product.price %>
        <br>
        <br>
    <% end %>
    <% if policy(Product).create? %>
        <%= link_to "Create Product", new_product_path, class: "btn btn-primary" %>
    <% end %>
</div>